.section-404 {
  // @include screen('med-small','min'){
  //   height: calc(100vh - 239px) !important;
  // }


  .parallax-container {
    display: flex;

    @include screen('small','max'){
      min-height: 585px;
    }
  }

  .mobile-content {

    h3 {
      @include screen('small','max'){
        font-size: 1.4rem;
      }
    }

    p {
      font-size: 1.2rem;
      padding: 0 1rem;
    }

    @include screen('small','max'){
      background: url(../img/404/headerMedium-mobile.jpg);
      background-size: cover;
    }
  }


}
