.btn {
  background: linear-gradient(0deg,#de7e00,#ff9100);
  font-weight: 200;
  position: relative;

  @include screen('med-small','max') {
    font-size: 13px;
  };

  // &:hover { background: initial; }
  &::after {
    content: '';
    background: url(../img/flecha-btn.png);
    position: absolute;
    width: 51px;
    height: 15px;
    margin-top: 1.3rem;
    z-index: 2;
    right: -2rem;
  }

  &:hover::after {
    right: -2.4rem;
  }

  &.no-arrow::after {
    content: none
  }

}


.btn-tipo-plato
{
  color: black;
  width: 160px;
  height: 60px;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: lighter;

  &--active
  {
    border: 1px solid $brand-primary;
    color: white;
    background-color: $brand-primary;
  }
}

.box {
  position:relative;
  vertical-align: middle;
  text-transform: uppercase;
  width: 160px;
  color: black;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  // transition: 0.5s;
  /*padding: 0 20px;*/
  cursor: pointer;
  border: 2px solid black;
  // -webkit-transition:0.5s;
  font-size: 1.3rem;
  font-weight: lighter;

  &:hover {
    border: 2px solid $brand-primary;
    color: $brand-primary;

    // &::after, &::before {
    //   -webkit-transform: scale(1);
    // }
  }

  &::before, &::after {
    width: 100%;
    height:100%;
    z-index: 3;
    content:'';
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transition: 0.5s;
  }

  &--active
  {
    background: $brand-primary;
    border: solid white 2px;
    color: white !important;
    transition: all 0.5s ease;

    &:hover {
      border: 2px solid white !important;
      transition: all 0.5s ease;
    }
  }
}

.foo
{
  &::before {
    border-bottom: 2px solid $brand-primary;
    border-left: 2px solid red;
    -webkit-transform-origin: 0 100%;
  }

  &::after {
    border-top: 2px solid $brand-primary;
    border-right: 2px solid $brand-primary;
    -webkit-transform-origin: 100% 0%;
  }
}

.bar
{
  &::before {
    border-bottom: 2px solid $brand-primary;
    border-left: 2px solid $brand-primary;
    -webkit-transform-origin: 100% 0%;
  }

  &::after {
    border-top: 2px solid $brand-primary;
    border-right: 2px solid $brand-primary;
    -webkit-transform-origin: 0% 100%;
  }

  &--active
  {
    &::before {
      border-bottom: 2px solid white;
      border-left: 2px solid white;
      -webkit-transform-origin: 100% 0%;
    }

    &::after {
      border-top: 2px solid white;
      border-right: 2px solid white;
      -webkit-transform-origin: 0% 100%;
    }
  }
}

.curmudgeon
{
  &::before
  {
    border-bottom: 2px solid $brand-primary;
    border-left: 0;
    -webkit-transform-origin: 0% 100%;
  }

  &::after
  {
    border-top: 0;
    border-right: 0;
    -webkit-transform-origin: 50% 50%;
  }
}
