.carteleras-header {
  min-height: 270px;

  @include screen('small','max'){
    min-height: auto;
  }

}

.carteleras-listado {
  // background-color: #f9f9f9;
  padding: 2.5rem 1rem;
  background: linear-gradient(to top, white , $light-grey);
  -webkit-box-shadow: 0 1px 6px 1px rgba(0,0,0,.1);
  box-shadow: 0 1px 6px 1px rgba(0,0,0,.1);
  position: relative;
  z-index: 2;

  @include screen('small','max'){
    padding-left: 0;
    padding-right: 0;
  }

  .receta-card {
    @include screen('small','max'){
      width:100%;
      text-align: center;
    }
  }
}

.modal {
  max-height: none;
}
