

.section-faqs {

  .titulo-numerado-chico {
    @include screen('small','max'){
      margin-bottom: 0;
      padding-right: 1rem;
      font-size: 21px;
    }
  }

}

// FAQS
.collapsible {
  box-shadow: none;
  border: 0;

  .expand-icon {
    position: absolute;
    right: 0;
    color: #fc7100;
    font-size: 3rem;
    margin-top: 1.5rem;
  }

  li.active .expand-icon__more { display: none }
  li.active .expand-icon__less { display: block }
  li .expand-icon__less { display: none }
}

.collapsible-header {
  border-color: #fc7100;
  position: relative;

  @include screen('small','max'){
    padding-left: 0;
  }
}

.collapsible-body {
  border-bottom: 0;
  text-align: justify;

  @include screen('small','max'){
    padding-right: 0;
    padding-left: 0;
  }

}
