// PAGINA MANIFIESTO

.parrafo-manifiesto {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  text-align: center;
  padding: 2rem;

  @include screen('small','max'){
    padding: 0;
    text-align: justify;
    margin-top: 0;
  }

  &__cierre {
    // font-family: "Yanone-Regular", sans-serif;
    text-align: center;
    padding: 3rem 0;

    letter-spacing: 1px;
    line-height: 2 !important;

    @include screen('small','max'){
      font-size: 1.4rem;  
    }

  }
}

.manifiesto-subtitle {
  font-size: 26px;
  @include screen('small','max'){
    font-size: 21px;
    margin: 3rem 0;
    line-height: 1.4
  }
}

.section-manifiesto {

  .grey-block {
    padding: 3rem;
    background: linear-gradient(to top, #e3e3e3 , #f6f6f6);

    @include screen('small','max'){
      position: relative;
      text-align: center;
    }

  }

  h5 { line-height: 1.5; text-transform: inherit;}

  .transparencia-title {
    strong { font-weight: normal; font-family: 'Yanone-Regular', sans-serif; }
  }

  &__fold-2 {
    margin-top: 4rem;
  }

  &__fold-3 {
    margin-top: 6rem;
  }

  &__fold-4 {
    margin-top: 6rem;
    position: relative;

    @include screen('small','max'){
      margin-top: 0;
    }

  }

}

.float-image {
  position: absolute;
  &__verdura {
    bottom: 30%;
  }
  &__sopera {
    right: 10%;
    margin-top: 4rem;
  }

  &__huevos {
    right: 38%;
    margin-top: -7rem;
  }

  &__salvia {
    right: 4rem;
    margin-top: -2rem;

    @include screen('small','max'){
      right: 1rem;
      margin-top: -4rem;
    }
  }

  &__tenedor {
    left: 40%;
    right: auto;
    margin-top: -2rem;
  }

  &__productos {
    margin-left: 4rem;
    margin-top: -6rem;

    @include screen('small','max'){
      top: 0;
      left: 5%;
      width: 222px;
      display: block;
      right: auto;
    }

  }

  &__ajo {
    left: 35%;
    right: auto;
    margin-top: -3rem;
  }

  &__pimiento {
    top: -10%;
    left: 20%;
    right: auto;
  }

  &__tomates {
    right: 0;
  }

  &__champinon {
    right: 10%;
  }

  &__salero {
    left: 16%;
  }

  &__cuchara {
    right: 10%;
    margin-top: 2%;
  }
}

.manifiesto-platillo img{
  @include screen('small','max'){
    width: 100%;
  }
}
