
.mitos-card {
	position: relative;
	text-align: center;

	@include screen('small','max'){
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}

	}


}

/* Common style */
.mitos-card figure {
	position: relative;
	overflow: hidden;
	margin: 0;
	text-align: center;
	cursor: pointer;
	transition:all .5s;
	box-shadow: 0;

	&:hover {
		    box-shadow: 0 8px 17px 2px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.2);
	}

}

.mitos-card figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
	width: 100%;
}

.mitos-card figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.mitos-card figure figcaption::before,
.mitos-card figure figcaption::after {
	pointer-events: none;
}

.mitos-card figure figcaption,
.mitos-card figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mitos-card figure p {
	letter-spacing: 1px;
	text-transform:none;
	font-size: 16px;
}



/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(227,227,227,0) 0%, rgba(246,246,246,0.8) 100%);
	content: '';
	opacity: 0;
	transform: translate3d(0,50%,0);
}

figure.effect-sadie p {
	// position: absolute;
	top: 50%;
	left: 0;
	transition: transform 0.35s, color 0.35s;
	transform: translate3d(0,-50%,0);
	color: $black;
	margin-top: 50%;
}

figure.effect-sadie figcaption::before,
figure.effect-sadie .btn {
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie .btn {
	// position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	transform: translate3d(0,10px,0);
	margin-top: -30%;
}

figure.effect-sadie:hover p {
	color: $black;
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover .btn {
	opacity: 1;
	transform: translate3d(0,0,0);
}

.icon-ref {
	width: 0;
	height: 0;
	border-right: 30px solid $brand-primary;
	border-top: 30px solid $brand-primary;
	border-left: 30px solid rgba(0, 0, 0, 0);
	border-bottom: 30px solid rgba(0, 0, 0, 0);
	right: 11px;
	top: 0;
	position: absolute;
	margin: 0;
	z-index: 10;

	&::before {
		content: "";
		width: 28px;
		height: 28px;
		top: -26px;
		right: -26px;
		position: absolute;
		z-index: 11;
	}

	&__pollo::before {
		background: url(../img/icons/icono-pollo.svg);
	}

	&__huevo::before {
		background: url(../img/icons/icono-huevo.svg);
	}

	&__cerdo::before {
		background: url(../img/icons/icono-cerdo.svg);
	}

	&__res::before {
		background: url(../img/icons/icono-res.svg);
	}

	&__pavo::before {
		background: url(../img/icons/icono-pavo.svg);
	}
}

//mitos-interna

.section-nota{

	text-align: justify;

	//
	&__imagen {
		background: url(../img/mitos-interna/imagen-nota-mitos.png) center center no-repeat;
		background-size: cover;
		min-height: 350px !important;
	}

	&__parrafo {
		background: #f2f2f2;
		padding: 1px 22px;
	}

	// share
	// .share-note {
	// 	position: relative;
	//
	// 	&::before {
	// 		content: '';
	// 		width: 80px;
	// 		height: 4px;
	// 		background-color: $brand-primary;
	// 		position: absolute;
	// 		top: 0;
	// 	}
	//
	// 	.social, span {
	// 		float: left;
	// 	}
	//
	// 	span {
	// 		margin: 18px;
	// 		margin-left: 0;
	// 	}
	//
	// 	.social i {
	// 		color: $black;
	//
	// 		&:hover {
	// 			color: $brand-primary;
	// 		}
	// 	}
	// }

	.share-note {

		.btn {
			height: 50px;
			padding-top: 5px;
		}

		.social {
			float: right;
			margin: 3px;

			li {
				margin: 0;
				margin-left: 12px;

				a {
					border-color: #fff;

					i { color: #fff; }
				}
			}
		}

	}

	&__segundo-parrafo {
		margin-top: 1rem;
	}

}

.section-nota .titulo-principal-recetas {
	@include screen('small','max'){
		font-size: 1.8rem;
	}
}
blockquote {
	border-color: $brand-primary;
	font-style: italic;

	ul {
		padding-left: 18px;
	}
}

.mitos-container {
	position: relative;

	.swiper-button-next,
	.swiper-button-prev {
		top: 50%;
		bottom: auto;
		position: absolute;
	}

	.swiper-button-next {
		right: 1rem;
	}

	.swiper-button-prev {
		left: 1rem;
	}
}

.section-mitos {

	.mitos-slide-cerdo {
		@include screen('small','max'){
			background: url(../img/mitos/slider/slider-bkg3-on-mobile.png) no-repeat center center;
			background-size: cover;
	    height: auto;
		}

		.parallax-container {
			height: 500px;

			.procesos-content__txt {
				height: 100;
				position: relative;

				.btn {
					margin-top: 20rem;
				}
			}
		}
	}



}
