.producto-heading {

  &__titulo,
  &__subtitulo {
      font-family: 'Lato', sans-serif;
      letter-spacing: 0;
  }

  &__titulo {
    font-size: 93px;
    font-weight: bolder;
    margin-top: .5rem;
    margin-bottom: 0;
    color: $brand-primary;

    @include screen('small','max'){
      font-size: 49px;
    }
  }

  &__subtitulo {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0.5rem;
    color: $grey;

    @include screen('small','max'){
      font-size: 17px;
    };
  }

  &__parrafo {
    font-size: 18px;
    margin: 2rem 0;
  }

}

.section-producto-interna {

  .fold-1 {
    background: #ebebeb url(../img/producto-interna/bg_fold.png) no-repeat center center;
    background-size: contain;
  }

  .producto-imagen {
      img {
        @include screen('med-small','max'){
            width: 100%;
        }
      }

      &__logo{
        @include screen('small','max');
        margin-bottom: 0;
        img {
          width: 110px;
        }
      }

      &-artisanos img {
        max-width: 625px;
      }

      &__antojos img {
        max-width: 720px;
      }

      &__caldo img {
        max-width: 700px;
      }

      &__don-sazon img {
        max-width: 670px;
      }

      &__huevo img{
        max-width: 700px;
      }

      &__pavo img {
        max-width: 700px;
      }
    }

  .section-producto-razones {
    background-position: center left;
    background-repeat: no-repeat;
    padding: 4rem 0;
    background-size: contain;
    color: #636466;

    @include screen('small','max'){
      padding: 2rem 0;
    }

    &--mobile img {
      width: 100%;
    }

    &__pollo {
      @include screen('small','min'){
          background-image: url(../img/producto-interna/pollo/familia-producto.png);
      }
    }

    &__artisanos {
      @include screen('small','min'){
          background-image: url(../img/producto-interna/artisanos/artisanos-familia-foto.png);
      }
    }

    &__antojos {
      @include screen('small','min'){
          background-image: url(../img/producto-interna/antojos/antojos-familia-foto.png);
      }
    }

    &__practicos {
      @include screen('small','min'){
          background-image: url(../img/producto-interna/practicos/practicos-familia-foto.png);
      }
    }

    &__caldo {
      @include screen('small','min'){
          background-image: url(../img/producto-interna/caldo/caldo-familia-foto.png);
      }
    }

    &__don-sazon {
      @include screen('small','min'){
          background-image: url(../img/producto-interna/don-sazon/don-sazon-familia-foto.png);
      }
    }

    &__huevo {
      @include screen('small','min'){
          background-image: url(../img/producto-interna/huevo/huevo-familia-foto.png);
      }
    }

    &__res {
      @include screen('small','min'){
          background-image: url(../img/producto-interna/res/res-familia-foto.png);
      }
    }

    &__pavo {
      @include screen('small','min'){
          padding: 6rem 0;
          background-image: url(../img/producto-interna/pavo/pavo-familia-foto.png);
      }
    }

    .generic-container-text li{
      margin: 1rem 0;
    }

  }

  .productos-relacionados {
    box-shadow: 0 0 3rem 17px rgba(0,0,0,.1);

    img {
      @include screen('small','max'){
        width: 100%;
      }
    }

    &__title {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 200;
      margin-top: 1.5rem
    }

    @include screen('small','min'){
      &__border {
        position: relative;

        &::after {
          content: "";
          height: 78%;
          width: 1px;
          background-color: #dfdfdf;
          position: absolute;
          left: auto;
          right: 0;
          top: 11%;
        }
      }
    }

  }

}

.align-slider-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  > .row {
    width: 90%;
  }

  .producto-slide{

    &-img {
      text-align: center;
      img {
        max-width: 430px;
      }
    }
    &-btn {
      position: relative;

      &::after {
        content: "";
        width: 74px;
        color: #000;
        height: 6px;
        background-color: #cce5cf;
        z-index: 2;
        position: absolute;
        left: 0;
        top: -1.5rem;
        text-align: center;
        right: 0;
        margin: 0 auto;
      }
    }

    &-heading {
      font-family: 'Lato', sans-serif;
      font-size: 125px;
      text-align: center;
      color: #636466;
      position: relative;
      font-weight: bolder;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;

      &__practicos {
        font-size: 76px;
      }

      &__antojos {
        font-size: 90px;
      }

      &__caldos {
        font-size: 108px;
      }

      &__sazonadores {
        font-size: 60px;
      }

      &::before {
        content: '';
        position: absolute;
        width: 31px;
        height: 46px;
        left: -27px;
        bottom: -18px;
        background: url(../img/productos/title-deco-left.png) no-repeat center center;
      }

      &::after {
        content: '';
        position: absolute;
        width: 39px;
        height: 32px;
        right: -27px;
        top: -18px;
        background: url(../img/productos/title-deco-right.png) no-repeat center center;
      }
    }
  }
}

.mobile-product-slider {
  padding: 0;

  .slide {
    padding: 1rem 0;
    background: linear-gradient(to top, #e3e3e3 , #f6f6f6);
  }

  .producto-slide-img {
    padding: 0 1rem;

    img {
      width: 100%;
    }
  }
  .producto-slide-heading {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    color: #636466;
    font-weight: bolder;

  }
}
