//PAGINA PROCESOS

.titulo-principal-procesos {
  text-transform: inherit;
}

.procesos-container {
  height: 100%;
}

.procesos-page-container {
  .valign-wrapper {
    align-items: center;
  }

  > .row {
    @include screen('small','max'){
      padding: 2rem 0;
    }
  }

  .modo-de-preparacion__procesos-row {

    @include screen('small','max'){

      text-align: center;
    }

    &:nth-child(even){
      @include screen('small','max'){
        display: flex;
        flex-wrap: wrap;
      }

      > .col:nth-of-type(1) {
        @include screen ('small','max'){
            order: 2;
        }

      }

      > .col:nth-of-type(2) {
        @include screen ('small','max'){
          order: 1;
        }
      }

    }

    h2 {

      @include screen('small','max'){
        position: relative;
        margin-bottom: 2rem;
      }

      &::after {
        @include screen('small','max'){
          content: "";
          width: 74px;
          color: black;
          height: 6px;
          background-color: $brand-secondary;
          z-index: 2;
          position: absolute;
          left: 0;
          bottom:-1rem;
          text-align: center;
          right: 0;
          margin: 0 auto;
        }
      }
    }
    h6 {
      //
      &::after {
        @include screen('small','max'){
          content: none;
        }
      }
    }


  }
}

.procesos-pollitos_on_mobile {
  width: 100%;
  max-width: 100%;
}
