.icon-title__publicidad {
	img { width: 50px }
}

.section-videos {
	background: url(../img/publicidad/video/video-bkg-trans.png) no-repeat center;
	background-size: cover;

}

.publicidad-slider {
	.swiper-slide img {
		width: calc(100% - 120px);

		@include screen('small', 'max') {
			width: 100%;
		}

	}
}

.video-play {
	display: inline-block;
	vertical-align: top;

	.video-holder__play {
		height: 372px;

		@include screen('small', 'max'){
			height: 230px;
		}



		iframe {
			width: 540px;
			height: 372px;

			@include screen('med', 'min'){
				width: 670px;
			}

			@include screen('small', 'max'){
				width:320px;
				height: 230px
			}

		}

	}
}

#video-holder__play-2 {
	@include screen('med-small', 'min'){
		display: none;
	}
}

.video-list {
	display: inline-block;
	height: 372px;
	// overflow-x: scroll;
	margin-left: -3px;

	&__item {
		height: 186px;
		position: relative;
		cursor: pointer;
		width: 261px;
		background: url(../img/publicidad/video/video-1.png) no-repeat center;

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: url(../img/icons/play-circle-regular.svg) no-repeat center center;
			background-size: 50px;
			background-color: rgba(0,0,0,.3);
			left: 0;
			top:0;

		}

		img {
			width: 335px;
			margin-left: -13%;
		}

		&--active::before {
			content: '';
			border-top: 15px solid transparent;
 			border-bottom: 15px solid transparent;
 			border-right:15px solid #e7e1d5;
			left: -15px;
			top: 38%;
			bottom: auto;
			position: absolute;
			z-index: 10;
		}

		&--active::after {
			content: none;
		}

	}
}

#video-holder__play-1,
#video-holder__play-2 {
	@include screen('med-small','max'){
		display: block !important;
	};
}

.video-holder {
	text-align: center;
	max-width: 933px;

	@include screen('med','max'){
		max-width: 801px;
	}
	@include screen('med-small','max'){
		max-width: 541px;
	}

	@include screen('small', 'max'){
		width: 320px;
	}

}

.video-content {
	background: #e3e3e3;
	width: 100%;
	height: 61px;
	margin-top: -5px;


	.video-heading {
		text-align: left;
		margin: 20px;
	}

	ul.social li a:hover i { color: $brand-primary }

	&__cartelera {
		position: absolute;
		bottom: 0;
		background-color: rgba(0,0,0,.6);
		color: #fff;
		padding: 1rem 0;

		.video-heading {
				margin: 7px 20px;
		}

	}

	.social {
		//

		.social-item a {
			border-color: #fff;

			i { color: #fff; }

			&:hover {
				border-color: $brand-primary;

				i {
					color: $brand-primary !important;
				}
			}

		}

	}

}



.section-comunidad {
	&__item img {
		width:100%;
	}

	&__card {

		figcaption {
			display: flex;
			justify-content: center;
			align-items: center;

			.btn {
				margin-top: 0;
			}

		}
	}
}

.publicidad-container h1 {
	@include screen('small','max'){
		margin-bottom: 0;
	}
}

// .video-holder img,
// .video-list img {
// 		width: 620px;
// }
