// TOP BANNER

.top-banner {
  position: relative;
  color: $white;

  .banner-content {
    position: absolute;
    bottom: 1.2rem;
    width: 95%;

    @include screen ('small','min'){
      width: 70%;
    }

    @include screen ('small','max'){
      display: flex;
      flex-wrap: wrap;
    }

    > .col:nth-of-type(1) {
      @include screen ('small','max'){
          order: 2;
          text-align: right;
      }

    }

    > .col:nth-of-type(2) {
      @include screen ('small','max'){
        order: 1;
      }
    }

  }

  .title {
    font-family: "Yanone-Regular", sans-serif;
    color: #fff;
    text-transform: initial;
    margin: 0;
    padding: 0;

  }

  .social {
    a {
      border-color: $white;

      &:hover .fab {
        color: #fc7100;
      }
    }

    .fab {
      color: $white;


    }

    @include screen('small','max'){
      margin-bottom: 0;
    }
  }
}


// BANNER ICONS INFO
.banner-desc {
  padding: 2rem 0;
  background: linear-gradient(to top, #faf9f3 , #f3f1e3);
  -webkit-box-shadow: 0 1px 6px 1px rgba(0,0,0,.1);
  box-shadow: 0 1px 6px 1px rgba(0,0,0,.1);
  position: relative;
  z-index: 2;
}


// A DISFRUTAR FOLD
.a-disfrutar {
  background-color: $white ;

  > .row {
    margin-bottom: 0;
  }

  &__txt {
    @include screen('small','max'){
      padding: 2rem 0 !important;
    }

    p {
      @include screen('small','max'){
        padding: 0 1rem;
      }

    }
  }

  &__fbLike {
    height: 22rem;
    background: url(../img/recetas/interna/pollo-chef.png) no-repeat center bottom;
    background-color: $light-grey;
    position: relative;
    text-align: center;

    @include screen ('small','max'){
      height: 14rem;
      background-position: left bottom;
    }

    .pollo-chef-gorro {
      position: absolute;
      left: 2rem;
      top: -3rem;
    }
  }

  .fbLike-copy {
    position: absolute;
    bottom: 1rem;
    left: auto;
    right: auto;
    width: 100%;
    color: $brand-primary;
    font-family: 'Yanone-Light', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;

    @include screen('small','max'){
      text-align: left;
      margin-left: 3rem;
      width: auto;
    }
  }

  .fb-like-globe {
    position: absolute;
    top: 15%;
    margin-left: 1rem;
    background: url(../img/recetas/interna/fb-like-globe.png) no-repeat center top;
    width: 91px;
    height: 125px;
    right: 20%;

    @include screen('small','max'){
      right: 12%;
    }

    .title {
      margin: 0;
      font-size: 28px;
      color: $brand-primary;
    }

  }
}

.preparation {
  background: linear-gradient(to top, #ffffff, #f7f4f1);
  padding-top: 12px;
  padding-bottom: 3rem;
  -webkit-box-shadow: 0 -2px 6px 1px rgba(0,0,0,.1);
  box-shadow: 0 -2px 6px 1px rgba(0,0,0,.1);
  position: relative;
  z-index: 2;
}

// INFORMACIÓN Nutrimental
.preparation-info {
  text-align: center;

  h5 {
    font-family: 'Yanone-Regular';
    font-size: 22px;
    letter-spacing: 2px;
  }

  &__lista {
    text-align: left;
    padding: 0 10px !important;
    overflow-x: scroll;
    max-height: 350px;

    &--noscroll {
      overflow: hidden;
    }


    li {
      padding: 1.5rem 0;
      border-bottom: 1px solid $brand-primary;
      position: relative;
      padding-left: 3rem;
      padding-right: 2rem;

      .txt {
        margin: 0 1rem;
        display: inline-block;
      }

      .gramos { float: right; }

      &::after {
        content: "";
        background: url(../img/bullet.svg) no-repeat 50%;
        width: 29px;
        height: 100%;
        position: absolute;
        left: 20px;
        top: auto;
        bottom: auto;
        margin-top: -1.4rem;
      }
    }
  }
}

.preparation-info__lista::-webkit-scrollbar {
    -webkit-appearance: none;
}

.preparation-info__lista::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.preparation-info__lista::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}

.info-nutrimental,
.info-ingredientes {
  //
  &__container {
    background: url(../img/recetas/interna/ingredientes-bg.png) no-repeat center bottom;
    width: 422px;
    height: 440px;
    display: inline-block;

    @include screen('small','max'){
      width: 100%;
      max-width: 422px;
    }

  }
}
.info-nutrimental__container {
  position: relative;
  &::after {
    content: '';
    background: url(../img/recetas/interna/verduras-info-nutri.png) no-repeat center bottom;
    background-size: contain;
    min-height: 122px;
    width: 160px;
    position: absolute;
    left: -4rem;
    bottom: -2rem;
  }
}

.info-ingredientes__container {
  position: relative;
  &::after {
    content: '';
    background: url(../img/recetas/interna/verduras-ingredientes.png) no-repeat center bottom;
    background-size: contain;
    height: 180px;
    width: 222px;
    position: absolute;
    left: -2rem;
    bottom: -2rem;
  }
}

// PASOS PREPARACION

.modo-de-preparacion {

  .paso-img {
    @media only screen and (max-width : 991px) { width: 100%; }
  }

  .valign-wrapper { align-items: flex-end; }

  .step {
    font-family: "Yanone-Regular";
    font-size: 80px;
    position: relative;
    margin-bottom: 3.5rem;

    @include screen('small','max'){
      margin: 0;
      // margin-bottom: 2rem;
      font-size: 48px;
    }

    &::after {
      content: "";
      width: 74px;
      color: black;
      height: 6px;
      background-color: $brand-secondary;
      z-index: 2;
      position: absolute;
      left: 0;
      bottom: -3rem;

      @include screen ('small','max'){
        content: none;
      }

    }

    &__procesos {
      font-size: 35px;
    }

  }

  h6 {
    font-weight: 300;
    line-height: 2;
    position: relative;

    @include screen('small','max'){
       margin-top: 0;
    }

    &::after {
      @include screen('small','max'){
        content: "";
        width: 74px;
        color: black;
        height: 6px;
        background-color: $brand-secondary;
        z-index: 2;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1rem;
        margin: 0 auto;
      }
    }
  }

  &__row {
    @include screen('small','max'){

      text-align: center;
    }

    &:nth-child(odd){
      @include screen('small','max'){
        display: flex;
        flex-wrap: wrap;
      }

      > .col:nth-of-type(1) {
        @include screen ('small','max'){
            order: 2;
        }

      }

      > .col:nth-of-type(2) {
        @include screen ('small','max'){
          order: 1;
        }
      }

    }
  }


}

.tips-section {
  text-align: center;
  position: relative;
  z-index: 3;
  background-color: #fff;

  .slider-title {
    @include screen('small','max'){
      font-size: 1.8rem;
    }
  }


  .verduras-deco {

    .cebolla {
      position: absolute;
      left: -6rem;
      top:-5rem;
    }

    .chiles {
      position: absolute;
      left: auto;
      right: -6rem;
      top: -5rem;
      height: auto;
      width: 180px;

      @media only screen and (min-width : 600px) {
        left: calc(45% - 40px);
        right: auto;
      }

    }

    .paprika {
      position: absolute;
      left: auto;
      right: -6rem;
      bottom: -2rem;

      @media only screen and (min-width : 600px) {
        right: auto;
        left: calc(45% - 40px);
      }
    }

    .tomates {
      position: absolute;
      left: -4rem;
      bottom: -2rem;
    }



  }


  // Centra el slider
  .flex-content {

    margin-bottom: 0;

    > .col { flex: 1 0 auto; }

    @media only screen and (min-width : 600px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

   }

   .slider-realizado_con {
     .swiper-slide img {

       @include screen('small','max'){
          width: 70%;
       }

     }
   }

   .tips-content,
   .slider-content {

     @include screen('small','min'){
        min-height: 482px;
     }

     @include screen('small','max'){
       padding: 4rem 0;
     }
   }

  .tips-content {
    background: linear-gradient(to top, #f3f1e3 , #faf9f3);
    padding: 6rem 0;

    @include screen('small','min'){
       padding: 9rem 0;
    }
  }

  .slider-content {

    background: linear-gradient(to top, #d4d4d4 , #f3f3f3);
    .swiper-container { margin: 4rem 0; }
  }

  .title-container {
    position: relative;

    &::before {
      content: '';
      background: url(../img/recetas/interna/ornamento-tip-top.png) no-repeat center bottom;
      width: 100%;
      height: 20px;
      position: absolute;
      top: -3.5rem;
      left: 0;
      right: auto;
    }

    &::after {
      content: '';
      background: url(../img/recetas/interna/ornamento-tip-bot.png) no-repeat center bottom;
      width: 100%;
      height: 15px;
      position: absolute;
      bottom: -3.5rem;
      left: 0;
      right: auto;
    }
  }

  h6 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;
    color: $black;
    line-height: 2.5;
    max-width: 280px;
    margin: 1.2rem auto 0;

  }

}


.inline-list__icon {
  max-width: 50px;
}
