
.recetas-header
{
  /*background-color: #f9f9f9;*/
  background-color: linear-gradient(#f9f9f9, white);
  min-height: 600px;
  text-transform: none;
}

.recetas-contenedor-filtro
{
  width: 100%;
  animation-delay: 0.7s !important;

  &__botones
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;

    @include screen('small', 'min')
    {
      padding-left: 50px;
      padding-right: 50px;
    }

    &--responsive
    {
      flex-direction: column;

      @include screen('med', 'max')
      {
          & .box
          {
              margin-top: 1rem;
              width: 90%;
          }
      }

      @include screen('small', 'min')
      {
        flex-direction: row;
      }
    }
  }

  &__icono {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    cursor: pointer;

    &:hover{

      color: #fc7100;
      cursor: pointer;

      .svg-icon {
        fill: #fc7100;
      }

    }

    & img
    {
      margin-bottom: 20px;
      text-decoration: none;
    }

    &--active {
      color: $brand-primary;

      .svg-icon {
        fill: #fc7100;
      }
    }

    .icon-block {
      margin: 0 auto;
    }
  }
}

.recetas-listado
{
  // background-color: #f9f9f9;
  padding: 2.5rem 1rem;
  background: linear-gradient(to top, white , #f3f1e3);
  -webkit-box-shadow: 0 1px 6px 1px rgba(0,0,0,.1);
  box-shadow: 0 1px 6px 1px rgba(0,0,0,.1);
  position: relative;
  z-index: 2;
}

.animate-pop-in {
  animation: pop-in .8s ease-out forwards;
  opacity: 0;
}

.receta-card
{
    a {
      color: $black;

      &:hover {
        color: #636466;
      }

    }

    &--mt-2-mobile
    {
        padding-top: 2rem !important;
        margin-top: 0 !important;
        float: none;

        @include screen('small', 'min')
        {
            padding-top: 0;
            float: none;
        }
    }

    &:not( :first-child )
    {
        margin-top: 2rem;

        @include screen('small', 'min')
        {
            margin-top: 0;
        }
    }



  img {
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
  }
  &:hover > a > img {
    box-shadow: 0 8px 17px 2px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.2);
  }

  &__bloque-imagen
  {
    & figure
    {
      margin: 0;
      height: 177px;
      position: relative;
    }

    & figure figcaption
    {
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color: $brand-primary;
      color: white;
      text-align:center;
      backface-visibility:hidden;
      -webkit-transform:rotateY(-180deg);
      -moz-transform:rotateY(-180deg);
      transform:rotateY(-180deg);
      -webkit-transition:all .5s;
      -moz-transition:all .5s;
      transition:all .5s
    }

    & figure img {
      backface-visibility:hidden;
      -webkit-transition:all .5s;
      -moz-transition:all .5s;
      transition:all .5s
    }
    & figure:hover img,figure.hover img {
        -webkit-transform:rotateY(180deg);
        -moz-transform:rotateY(180deg);
        transform:rotateY(180deg)
    }
    & figure:hover figcaption, & figure.hover figcaption {
        -webkit-transform:rotateY(0);
        -moz-transform:rotateY(0);
        transform:rotateY(0)
    }
  }

  &--margen
  {
    margin-top: 8px;
  }

  &--padding-derecho
  {
    padding-right: 1rem;
  }

  &--padding-izquierdo
  {
    padding-left: 1rem;
  }

  &__imagen
  {
    opacity: 1;
    transition: all 0.5 ease;

    &:hover
    {
      opacity: 0.9;
      transition: all 0.5 ease;
    }

  }

  &__titulo
  {
    font-weight: bold;
    display: block;
  }

  &__subtitlo
  {

  }
}

.header-recomendaciones
{
  font-family: Yanone-Light,sans-serif;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: transparent;
  display: flex;
  position: relative;
  justify-content: center;

  &__titulo
  {
    color: $brand-primary;
    font-size: 35px;
    flex: 1;
    letter-spacing: 2px;
    position: relative;

    &::after {

      @include screen('small', 'min')
      {
        content: '';
        background: url(../img/recetas/page/vectore-left-title.png);
        width: 382px;
        height: 100px;
        left: 0;
        right: auto;
        top: 0;
        position: absolute;
      }
    }

    &::before {

      @include screen('small', 'min') {
        content: '';
        background: url(../img/recetas/page/vectore-right-title.png);
        width: 382px;
        height: 100px;
        left: auto;
        right: 0;
        top: 0;
        position: absolute;

      }

    }
  }

}

.recomendaciones
{
  &__columnas-derecha
  {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

#fila-recetas-1
{
    margin-bottom: 0px !important;
}
