/* General styles for Typography */

.titulo-principal-recetas
{
  font-size: 2.7rem;
  text-transform: none;
  max-width: 950px;
  margin: 0 auto;
  margin-top: 40px;
  font-weight: bold;
  animation-delay: 0.3s;

  @include screen('small','max'){
      font-size: 2rem;
      line-height: 1.3;
      margin: 2rem 0
  }
}

.titulo-recetas
{
  text-transform: none;
  font-size: 1.5rem;
  margin-top: 3rem;
  font-weight: lighter;


  &__numero
  {
    background-color: $brand-primary;
    border-radius: 50%;
    font-size: 1rem;
    color: #fff;
    width: 22px;
    padding-left: 1px;
    line-height: 20px;
    height: 20px;
    display: -ms-flexbox;
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 20px;
    font-weight: bold;
  }
}

/* Titulo, por ejemplo en el header de aviso de privacidad */
.titulo-extra-grande
{
  font-size: 50px;
  font-family: 'Yanone-Regular';
  color: $brand-primary;
  font-weight: bold;
  text-align: center;
  margin-bottom: 76px;

  @include screen('small','max'){
    font-size: 34px;
    margin: 3rem 0;
  }

  &--negro
  {
    color: $black;
  }
}

.color-naranja
{
  color: $brand-primary;
}

.generic-container-text
{
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  text-align: justify;

  & li
  {
    padding-bottom: 15px;

    &::before
    {
      background-image: url(../img/bullet.svg);
      width: 29px;
      height: 100%;
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      left: 0;

      @include screen('small','max'){
        width: 21px;
      }
    }
  }

  & li .sin-icono
  {
    padding-bottom: 15px;

    &::before
    {
      background-image: none;
    }
  }

  & > ol
  {
    list-style-type: none;
    position: relative;
    @include screen('small','max'){
      padding-left: 40px;
    }
  }
}

.generic-container-text-sin-icono
{
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  text-align: justify;

  & > ol
  {
    list-style-type: none;
    position: relative;
    @include screen('small','max'){
      padding-left: 0;
    }
  }
}

.titulo-numerado-mediano
{
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  @include screen('small','max'){
    font-size: 20px;
  }
}

.titulo-numerado-chico
{
  font-size: 24px;
  font-family: 'Yanone-Regular', sans-serif;
}

.subtitulo-numeracion
{
  color: $color-naranja;
}

.texto-naranja
{
  color: $brand-primary;
}

.align-center-mobile {
  @include screen('small','max') {
    text-align: center !important;
  }
}
