@include screen('small','min'){
  .container {
    width: 80%;
  }
}


body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

//tooltip
.material-tooltip {
   background-color: transparent;
   color: $black;
   font-family: 'Yanone-Light';
   font-size: 1.2rem;
   text-transform: uppercase;
   z-index: 50;
   display: inline-block;
   height: 20px;
   margin-top: -1rem;
   // margin: -2rem;
   // padding-left: 5rem;

   ::before {
     content: '';
     position: absolute;
     width: 68px;
     height: 200px;
     // background: url(../img/icons/flecha-hover.png) repeat top center;
     z-index: 999;
     top: -3rem;

   }
 }


// Menu container
nav.nav-extended {
  position: relative;
  z-index: 3
}

//MENU SUPERIOR

.nav-content {
  border-bottom: 1px solid $brand-primary;

  a {
    font-weight: 200; font-size: 12px;

    @include screen('large','max') {
      font-size: 10px;
    }

  }

  .right { line-height: 2.6; }

}

nav .nav-wrapper {
  min-height: 79px;
  padding-top: 8px;
  height: auto;

  @include screen('large','max') {
    min-height: 80px;
  }
}

nav .nav-content {
  height: auto;
}

// MENU DE NAVEGACION

nav {
  color: $black ;
  box-shadow: none;

  .brand-logo img {
    //
    @include screen('large', 'max')
    {
      max-width: 80%;
    }
  }

  a { color: $black; }
  ul a {
    color: $black ;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 0 11px;
    @include screen('large', 'max')
    {
      font-size: 12px;
    }
    @include screen('med', 'max')
    {
      padding: 0 8px;
    }
  }

  .search-icon {
    position: relative;
    a {
      padding: 0 8px;
    }
    &::before {
      content: '';
      border-left: 1px solid grey;
      width: 1px;
      height: 20px;
      position: absolute;
      margin-top: 1.5rem;
    }
  }

}

#searchBar {
  height: auto;

  input[type=search] {
    border-bottom: 0 !important;
  }

  .search-container {
    background-color: transparent;
  }

  .input-field input[type=search] + label i{
    color: #444;
    opacity: 1
  }

  .input-field input[type=search]~.material-icons {
    color: #444;
  }

  display: none;
  background: linear-gradient(to top, #e3e3e3 , #f6f6f6);

  .input-field input[type=search]:focus:not(.browser-default) {
    background: transparent;
  }
}

#search {
  padding-left: 3rem;
}

.brand-logo {
  margin: 8px 0px;

  @include screen('med-small', 'max') {
    text-align: center;
  }

}

nav ul a:hover {
  background-color: initial;
  color: $brand-primary;
}

ul.social li a:hover {
  border-color: $brand-primary;
}

.navbar-fixed {
  height: 131px;

  @include screen('med-small', 'max') {
    height: 80px;
  }

  > nav {
    height: 131px;
    box-shadow: 0 0rem 3rem 1px rgba(0,0,0,.05);

    @include screen('med-small', 'max') {
      height: 80px;
    }
  }

}


//HOME SLIDER

.slider-section {
  box-shadow: 0 2rem 5rem 1px rgba(0,0,0,.15);
  position: relative;
  z-index: 2
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.home-swiper {

  .mobile-bg img{
    position: absolute;
    min-width: 100%;
    top: 0;
    left: 0;
    width: 100%;
  }

  .swiper-slide{
    height: calc(100vh - 131px);
  }

  .swiper-button-next {
    right: 2rem;
  }

  .swiper-button-prev {
    left: 2rem;
  }

  .title-container {
    display: inline-block;
    float: right;
    width: 100%;
    margin-top: 3%;

    @include screen('small', 'max') {
      position: absolute;
      text-align: center;
      margin-top: 10%;
      height: calc(100% - 10%)
    }

    @include screen('small', 'min') {
      width: 40%;
    }

    .title {
      margin-top: 0;

      &--small
      {
        @include screen('small', 'max') {
          font-size: 1.7rem !important;
          padding: 0 3rem;
        }
      }

      @include screen('small', 'max') {
        font-size: 2rem;
        padding: 0 3rem;
      }


    }

  }

  .parallax-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 130%;
      height: 100%;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
    }

}

.swiper-slide {
  background-position: center;
  background-size: cover;

  .home-slide__button {
    @media only screen and (max-width : 450px) {
      bottom: 1rem;
      position: absolute;
      left: 0;
      right: 0;
    }
  }
}


.swiper-button-next {
  background-image: url(../img/right-arrow.svg);
}

.swiper-button-prev {
  background-image: url(../img/left-arrow.svg);
}

.producto-content {
  //
  &__item img{
    position: relative;
    top: 3rem;
    left: -7rem;

    @include screen('small', 'max') {
      width: 110%;
      left: -5%;
      top: 0%;
    }

  }
}

// SECCION PRODUCTO
.section-producto {
  position: relative;
  z-index: 1;
  box-shadow: 0 2rem 5rem 1px rgba(0,0,0,.15);
}

// SECCION RECETAS
.section-recetas {
  padding: 4rem 0 3rem;
  background: linear-gradient(to top, #e3e3e3 , #f6f6f6);
  position: relative;
  overflow: hidden;


  .ol-platillos a {

    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    position: relative;

    @include screen('small','min'){
      margin: 0 2rem;
    }


    img{
      max-width: 180px;
      @include screen('small','max'){
        width: 80%;
      }
    }
  }


  .middle-container-title {
    padding: 3rem 0;
  }

  // .pavo-relleno {
  //   @include screen('small','max'){
  //     right: -16%;
  //   }
  //}

}

// SECTION Mitos



.section-mitos {
  padding: 4rem 0 1rem;

  @include screen('small', 'max') {
    text-align: center;
  }

  > .row > .col {
    padding: 1rem 2rem;
    transition:0.3s all !important;


    &:hover {
      background: linear-gradient(to top, #e3e3e3 , #f6f6f6);
      cursor: pointer;
    }

    @include screen('small','max'){
      padding: 1rem 2rem;
      position: relative;
    }

    :not(:last-child)::after {
      @include screen('small','max'){
        content: "";
        border-bottom: 1px solid #e4dfc3;
        height: 1px;
        width: 33%;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0 auto;

      }
    }

    .svg-icon {
      fill: #fc7100;
    }

  }

  // >.row > .mitos-title-block:hover {
  //   background: none;
  //   cursor: default;
  // }
}

.border-left {
  position: relative;

  &::after {
    @include screen('small', 'min') {
      content: "";
      border-right: 1px solid #e4dfc3;
      height: 100%;
      width: 1px;
      position: absolute;
      right: 0;
      top: 0
    }

  }
}

.question-mark {
  margin-right: 1rem;
  width: 50px;
}

.pollito-mitos-home {
  margin-top: 29px
}

// swiper-carousel
.swiper-carousel {
  width: 100%;
  height: 100%;
  position: relative;

  @include screen('small','max'){
    overflow: hidden;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    @include screen('small','min'){
      width: 60%;
    }

  }
  .swiper-slide:nth-child(odd) {
    @include screen('small','min'){
      width: 40%;
    }
  }

  .swiper-button-next {
    @include screen('small','min'){
      right: 23%;
    }

  }

  .swiper-button-prev {
    @include screen('small','min'){
      left: 23%;
    }
  }

  .swiper-slide-next,
  .swiper-slide-prev {
    opacity: .3;

    @include screen('small','max'){
      opacity: 0;
    }
  }

}

// FOOTER

.footer {
  background: linear-gradient(to top, #e3e3e3 , #f6f6f6);
  padding: 2rem 0;

  ul li {

    @include screen('small','min'){
      display: inline-block;
      margin-right: 1rem;
    }

    @include screen('small','max'){
      padding: 1rem 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: $black;
    font-weight: 200;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width : 600px) {
  .valign-wrapper { display: block}
  .section-recetas.valign-wrapper { display: flex; }
}

// SECCION PROCESOS

.section-procesos{
  .parallax-container {
    @include screen('small','max'){
      height: auto;
    }
  }
  .procesos-content {
    height: 100%;

    @include screen('small','max'){
      padding: 0 0 2rem;
    }
  }
}

//QUEDA

.section-busqueda__item {
  @include screen('med-small','min'){
    display: flex;
    align-items: center;
  }
}

.titulo-numerado-chico a:hover {
  text-decoration: underline;
}

// search

// #search {
//   padding-left: 0;
// }

.section-busqueda {

  .titulo-numerado-chico {
    @include screen('small','max'){
      font-size: 15px;
      position: relative;
      overflow: hidden;
      height: 30px;
      margin-bottom: 0;


      &::after {
        bottom: -3px;
        content: "...";
        font-weight: 700;
        padding: 0 20px 1px 45px;
        position: absolute;
        right: -22px;
      }


    }



  }
}

.truncate-p {
}
.parrafo-busqueda {

  width: 100%;

  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 3.6em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;

  &::before {
     content: '...';
     position: absolute;
     right: 0;
     bottom: 0;
  }

  &:after {
    /* points in the end */
     content: '';
     /* absolute position */
     position: absolute;
     /* set position to right bottom corner of text */
     right: 0;
     /* set width and height */
     width: 1em;
     height: 1em;
     margin-top: 0.2em;
     /* bg color = bg color under block */
     background: white;
  }
}

.search-image {
  margin-right: 13px;

  img {
    @include screen('small','max'){
      max-width: 96px;
    }
  }
}

.search-paragraph {
  width: calc(100% - 186px)
}

.search-page #searchBar {
  display: block;
  margin-top: -13px;
  padding-top: 10px;
}

#section-recetas-title {
  position: relative;
  z-index: 50;
}

//se esconde la linea blanca en los modales de carteleras
.modal {
  // max-height: 59%;
  // overflow: hidden;
  box-shadow: none;
  background-color: transparent;
}

.mobile-content {

  @include screen('small','max'){
    text-align: center;
  }

}
