
$white          : #ffffff;
$black          : #262626;

$light-grey     : #e7e7e7;
$grey           : #504e50;

$brand-primary  : #fc7100;
$brand-secondary: #cce5cf;

$color-naranja: #fc7100;

/* d8722c */

.brand-primary {
  color: $brand-primary
}

h1,
h2,
h3,
h4,
h5 { font-family: 'Yanone-ExtraLight', sans-serif; text-transform: uppercase; letter-spacing: 3px; font-weight: bolder; }

h3 {
  font-size: 2.1rem;
  @include screen('large','max') {
    font-size: 1.8rem;
  }
 }

 h1 {
   @include screen('small','max') {
     font-size: 3.2rem;
     margin: 2rem 0;
   }
  }

 a { color: $grey }


 .lato-heading { font-family: 'Lato', sans-serif; letter-spacing: 1; text-transform: inherit; font-weight: 200;}

.title {
  display: inline-block;
  text-align: left;
  line-height: 2.9rem;

  @include screen('small', 'max') {
    text-align: center;
  }

  strong { font-weight: normal; font-family: 'Yanone-Regular', sans-serif; }
}

.subtitle {
  color: $brand-primary;
  font-family: "Yanone-light", sans-serif;
  letter-spacing: normal;
  letter-spacing: 2px;
}

.no-mar { margin: 0; }
.no-mar-top { margin-top: 0; }

.m-t-2
{
  margin-top: 2rem;
}
.m-t-3
{
  margin-top: 3rem;
}

.m-t-0 {
  margin-top: 0;
}

.no-pad {
  padding: 0 !important;
}


// SOCIAL BUTTONS

ul.social li,
.social .social-item {
  margin-right: 8px;
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  position: relative;

  .fa-facebook-f { font-size: 15px; line-height: 28px; }
  .fa-instagram { font-size: 18px; line-height: 28px; }

  a {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid $grey;
    position: absolute;
    top: 0px;
  }

  i.fab {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    left: 0;

  }

}

.tabs { height: auto; padding: 10px 0 }

ul.inline-list {
  margin: 0;

  li {
    display: inline-block;
    vertical-align: top; width: auto;
    margin-right: 10%;

    @include screen('small','max'){
      width: 30%;
      margin-right: 0;
    }

    img {
      margin-right: 1rem;

      @include screen('small','max'){
        width: 30px;
        margin-right: 6px;
      }

    }

    &:last-child {
      margin-right: 0;
    }

    h6 {
      margin: 0;

      @include screen('small','max'){
        display: flex;
      }

    }
  }
}

.shadow {
  box-shadow: 0 0 50px 2px rgba(0,0,0,.1);
}

.ornamento {
  position: relative;
  display: inline-block;

  &::before,
  &::after {
    content: '';
    width: 180px;
    height: 13px;
    position: absolute;
    left: 15%;
    right: auto;
    display: inline-block;
  }

  &::before {
    background: url(../img/recetas/interna/ornamento-texto.svg) no-repeat center center;
    top: -1.2rem;
  }

  &::after {
    background: url(../img/recetas/interna/ornamento-texto-bot.svg) no-repeat center center;
    bottom: -1.2rem;
  }

}

.icon-title {
  display: flex;
  align-items: center;
  justify-content: center;

  &__txt {
    margin: 0 2rem;
  }

}

.btn,
.btn:hover
{
  // background: linear-gradient(0deg,#de7e00,#ff9100) !important;
      box-shadow: none!important;
}

.aviso-de-privacidad
{
  padding-bottom: 3rem
}

.parallax-container {
  width: 100%;
}

.icon-inline {
  width: 50px;
  display: inline-block;
  margin-right: 1rem;
}

.icon-block {
  width: 50px;
}

.svg-icon {
  fill: #636466
}

.orange-icon {
  fill: #fc7100;
}

.modal .modal-content {
  padding: 0;

  .social {
    right: 0;
    top: 0;
    padding: .5rem 1rem;
    margin: 0;
    background-color: rgba(100,100,100,.8);

    li a {
      border-color: #fff;

      &:hover { border-color: $black }

      i {
        color: #fff;
        &:hover { color: $black; }
      }
    }

   }

   .modal-close {
     padding: .7rem;
     position: absolute;
     top: 0;
     right: 0;
     color: #fff;
   }
}

.toUpperCase {
  text-transform: uppercase;
}

.texto-bold {
  font-weight: bolder;
}
