@font-face {
    font-family: 'Yanone-Bold';
    src: url('../fonts/YanoneKaffeesatz-Bold.eot');
    src: url('../fonts/YanoneKaffeesatz-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YanoneKaffeesatz-Bold.woff2') format('woff2'),
        url('../fonts/YanoneKaffeesatz-Bold.woff') format('woff'),
        url('../fonts/YanoneKaffeesatz-Bold.ttf') format('truetype'),
        url('../fonts/YanoneKaffeesatz-Bold.svg#YanoneKaffeesatz-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone-Regular';
    src: url('../fonts/YanoneKaffeesatz-Regular.eot');
    src: url('../fonts/YanoneKaffeesatz-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YanoneKaffeesatz-Regular.woff2') format('woff2'),
        url('../fonts/YanoneKaffeesatz-Regular.woff') format('woff'),
        url('../fonts/YanoneKaffeesatz-Regular.ttf') format('truetype'),
        url('../fonts/YanoneKaffeesatz-Regular.svg#YanoneKaffeesatz-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone-Light';
    src: url('../fonts/YanoneKaffeesatz-Light.eot');
    src: url('../fonts/YanoneKaffeesatz-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YanoneKaffeesatz-Light.woff2') format('woff2'),
        url('../fonts/YanoneKaffeesatz-Light.woff') format('woff'),
        url('../fonts/YanoneKaffeesatz-Light.ttf') format('truetype'),
        url('../fonts/YanoneKaffeesatz-Light.svg#YanoneKaffeesatz-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone-ExtraLight';
    src: url('../fonts/YanoneKaffeesatz-ExtraLight.eot');
    src: url('../fonts/YanoneKaffeesatz-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YanoneKaffeesatz-ExtraLight.woff2') format('woff2'),
        url('../fonts/YanoneKaffeesatz-ExtraLight.woff') format('woff'),
        url('../fonts/YanoneKaffeesatz-ExtraLight.ttf') format('truetype'),
        url('../fonts/YanoneKaffeesatz-ExtraLight.svg#YanoneKaffeesatz-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}
